[Unit]
Description=PWM Fan Control
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ansible/pwm-fan-control
ExecStart=/home/ansible/pwm-fan-control/app.py 7081
Restart=always

[Install]
WantedBy=multi-user.target
